.lineDisplay {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.tableContainer {
  overflow: scroll;
  height: 100%;
  max-height: 28em;
  border-bottom: 1px solid var(--platinum);
}

.itemLineHeader {
  position: sticky;
  top: 0;
  padding: 0 0.25em;
}

.itemLineHeader > th {
  padding: 0 0.25em 0 1em;
}

.itemLine {
  height: 2em;
  border: 1px solid #ddd;
}

.itemLine td:not(.itemLineImageContainer) {
  height: 2em;
  padding: 0 0.25em 0 1em;
}

.itemLineImageContainer {
  height: 2em;
  width: 2em;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
}

.itemLineImage {
  max-width: 2em;
  max-height: 2em;
  width: auto;
  height: auto;
  margin: auto;
}

.itemLineName {
  width: auto;
  max-width: 8em;
  min-width: 3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemLinePrice {
  text-align: right;
  max-width: 8em;
  min-width: 5em;
  width: auto;
}

.itemLineQuantity {
  text-align: right;
  max-width: 8em;
  min-width: 5em;
  width: auto;
}

.itemLineAmount {
  text-align: right;
  max-width: 8em;
  min-width: 5em;
  width: auto;
}

.itemLineDelete {
  width: auto;
}

.itemLineHeader {
  background-color: var(--platinum);
  font-weight: bold;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
}

.itemLine:nth-child(even) {
  background-color: var(--platinum);
}

.itemLine > td,
.itemLineHeader > th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-height: 850px) {
  .itemLine {
    height: 4em;
  }

  .itemLine td {
    height: 4em;
  }

  .itemLineImageContainer {
    height: 3em;
    width: 3em;
  }

  .itemLineImage {
    max-width: 3em;
    max-height: 3em;
  }
}

@media (min-width: 600px) {
  .itemLineName {
    width: 100%;
  }
}

@media (min-height: 1200px) {
  .tableContainer {
    max-height: 44em;
  }
}
