@using MLPos.Web.Models
@model LoginViewModel
@{
    Layout = "_Admin_Layout";
    ViewData["Title"] = "Login";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Login.css">
}

<div class="container formcontainer">
    <ul class="validationErrors">
    @if (Model != null && !string.IsNullOrEmpty(Model.Error))
    {
            <li>@Model.Error</li>
    }
    </ul>
    <form class="loginform" method="POST">
        <div class="container detailsContainer">
            <div>
                <label class="inputLabel" for="username">
                    Name:
                    @Html.TextBoxFor(m => m.Username, new { id = "username" })
                </label>
                <label class="inputLabel" for="password">
                    Password:
                    @Html.TextBoxFor(m => m.Password, new { id = "password", type = "password" })
                </label>
            </div>
        </div>
        <button class="button buttonPrimary loginButton" type="submit">Login</button>
    </form>
</div>
