<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/styles.css" />
    @await RenderSectionAsync("Styles", required: false)
    <title>@ViewData["Title"]</title>
</head>
<body>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>