.paymentmethodSelection {
    width: 90%;
    height: 40em;
    background-color: var(--white);
    margin: auto;
}

.paymentmethodList {
    display: flex;
    width: 100%;
    height: 35em;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}

.paymentmethodCard {
    display: flex;
    justify-content: space-between;
    margin: 0em 0.5em 1em 0.5em;
    border: 1px solid var(--platinum);
    padding: 0.5em;
}

.paymentmethodCard:hover {
    background-color: var(--coral);
}

.back {
    margin: 0.5em;
    width: 2em;
}

.paymentmethodImageContainer {
    width: 3em;
    height: 3em;
    overflow: hidden;
}

.paymentmethodImageContainer > img {
    max-width: 3em;
    max-height: 3em;
    width: auto;
    height: auto;
}

.paymentmethodInfoContainer {
    display:flex;
    flex-direction: column;
}

.paymentmethodName, .paymentmethodDescription {
    text-align: right;
}

