.adminContainer {
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--white);
}

.headerContainer {
    background-color: var(--green);
    margin: 0;
    height: 4em;
    flex-direction: row;
    justify-content: space-between;
}

.headerContainer > img {
    margin: auto 1em auto 1em;
    height: 80%;
}

.navContainer {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
}

#hamburger {
    height: 50%;
}

.navbar {
    padding: 2em 0 0 0;
    flex-direction: column;
    background-color: var(--green);

    height: 100%;
}

.navbar.hidden {
    display: none;
}


.logoutButton,.loginButton {
    align-self: flex-end;
    margin: auto auto 0.5em auto;
}

.loginButton {
    width: 100%;
}

.logoutButton {
    width: 90%;
}

.navbar .hidden {
    /*display: none;*/
}

.navbarItem {
    display: flex;
    padding-left: 0.5em;
    min-height: 2em;
    line-height: 2em;
    font-size: 2em;
    text-decoration: none;
    color: var(--yellow);
}

.navIcon {
  height: 1em;
  width: auto;
  margin: auto 1em auto 0;
}

.navbarItem:hover {
  background-color: var(--coral);
  color: var(--jet);
}

.formContainer {
    max-width: 50em;
    flex-direction: column;
    width: 90%;
    margin: 2em auto;
    height: fit-content;
}

.detailsContainer {
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

.pageContainer {
    margin: 1em;
    margin-bottom: 5em;
    padding-bottom: 1em;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1920px;
    height: auto;
}

.pageContentContainer {
    overflow-y: scroll;
    flex-direction: column;
    height: auto;
}

.pageTitle {
    width: auto;
}

.titleContainer {
    width: auto;
    height: auto;
    min-height: 10em;
    margin: 1em;
    justify-content: space-between;
    flex-direction: column;
}

.titleContainer > div {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0;
}

.search {
    font-size: 1.25em;
    width: 100%;
    max-width: 30em;
}

.titleContainer > div > a {
    margin-left: auto;
}

.flexList {
    margin: 1em;
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    overflow-y: scroll;
}

.cardImageContainer {
    border-radius: 10px;
    border: 1px solid var(--platinum);
    overflow: hidden;
    display: flex;
    background-color: var(--white);
    height: 9em;
    width: 12em;
    margin: 0 auto;
    margin-bottom: 2em;

}

.cardImage {
    max-width: 12em;
    max-height: 9em;
    width: auto;
    height: auto;
    margin: auto;
}

.cardTitle {
    font-weight: bold;
}

.card {
    margin: 0 auto;
    border: 1px solid var(--jet);
    border-radius: 10px;
    max-width: 24em;
    width: 100%;
    height: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    color: var(--jet);
    justify-content: space-between;
}

.formButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formButton {
    min-width: 5em;
    min-height: 2em;
}

.formInput {
}

input[type=checkbox]:disabled {
    background-color: var(--platinum);
}

.checkbox {
    height: 2em;
    appearance: none;
    background-color: var(--platinum);
    border-radius: 1em;
    border-style: none;
    flex-shrink: 0;
    margin: 0;
    position: relative;
    width: 4em;
}

.checkbox:checked {
    background-color: var(--green);
}

.checkbox:checked::after {
    background-color: var(--white);
    left: 2em;
}

.checkbox::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkbox,
.checkbox::after {
    transition: all 250ms ease-out;
}

.checkbox::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 1.75em;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 1.75em;
}

.hideCard {
    display: none;
}

.deleteForm {
    width: 100%;
    margin-top: 5em;
}

.deleteButton {
    width: 100%;
    background-color: red;
    height: 4em;
}

.pageNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pageNavLink {
    width: 4em;
}

.pageNavTitle {
    width: 4em;
}

table {
    border-collapse: collapse;
}

table, tr, th, td {
    border: none;
    height: auto;
}

.tableCol {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0.25em;
    height: 2em;
    line-height: 2em;
}

.tableContainer {
    overflow: auto;
}

.tableHeader {
    font-weight: bold;
    background: var(--platinum);
}

.sidebox {
    margin-top: 3em;
    border: 1px solid var(--yellow);
    background: var(--platinum);
    border-radius: 10px;
    padding: 3em;
    height: fit-content;
}

@media(min-width: 600px) {
    .cardImage {
        max-width: 16em;
        max-height: 12em;
    }

    .cardImageContainer {
        height: 12em;
        width: 16em;
    }
}
@media(min-width: 850px) {
    .cardImage {
        max-width: 18em;
        max-height: 13.5em;
    }

    .cardImageContainer {
        height: 13.5em;
        width: 18em;
    }

    .adminContainer {
        flex-direction: row;
    }

    .navContainer {
        height: 100%;
        max-width: 25em;
        background-color: var(--green);
    }

    .navbar.hidden {
        display: flex;
    }

    #hamburger {
        display: none;
    }

    .flexList {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        margin: 0;
    }

    .formContainer {
        margin-top: 0;
        margin-left: 2em;
        margin-right: auto;
    }

    .pageContentContainer {
        flex-direction: row;
        margin: 0 auto;
    }
}