.adminContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.headerContainer {
    background-color: var(--green);
    margin: 0;
    height: 4em;
    flex-direction: row;
    justify-content: space-between;
}

.headerContainer > img {
    margin: auto 1em auto 1em;
    height: 80%;
}

.navContainer {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
}

#hamburger {
    height: 50%;
}

.navbar {
    padding: 2em 0 0 0;
    flex-direction: column;
    background-color: var(--green);

    height: 100%;
}

.navbar.hidden {
    display: none;
}

@media(min-width: 650px) {
    .adminContainer {
        flex-direction: row;
    }

    .navContainer {
        height: 100%;
        max-width: 25em;
        background-color: var(--green);
    }

    .navbar.hidden {
        display: flex;
    }

    #hamburger {
        display: none;
    }
}

.logoutButton,.loginButton {
    align-self: flex-end;
    margin: auto auto 0.5em auto;
}

.loginButton {
    width: 100%;
}

.logoutButton {
    width: 90%;
}

.navbar .hidden {
    /*display: none;*/
}

.navbarItem {
    display: flex;
    padding-left: 0.5em;
    min-height: 2em;
    line-height: 2em;
    font-size: 2em;
    text-decoration: none;
    color: var(--yellow);
}

.navIcon {
  height: 1em;
  width: auto;
  margin: auto 1em auto 0;
}

.navbarItem:hover {
  background-color: var(--coral);
  color: var(--jet);
}

.formContainer {
    max-width: 40em;
    flex-direction: column;
    width: 90%;
    margin: 2em auto 0 auto;
}

.detailsContainer {
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

.pageContainer {
    margin: 1em;
    padding-bottom: 1em;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1920px;
}

.pageTitle {
    width: auto;
}

.titleContainer {
    width: auto;
    height: auto;
    min-height: 10em;
    margin: 1em;
    justify-content: space-between;
    flex-direction: column;
}

.titleContainer > div {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0;
}

.search {
    font-size: 1.25em;
    width: 100%;
    max-width: 30em;
}

.titleContainer > div > a {
    margin-left: auto;
}

.flexList {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card {
    margin:auto;
  border: 1px solid var(--jet);
  border-radius: 10px;
  width: 20em;
  height: 25em;
  margin: 0 2em 1em 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  color: var(--jet);
}

.card img {
  margin: 0 auto;
  max-height: 15em;
  max-width: 16em;
  width: auto;
  height: auto;
}