.adminContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.headerContainer {
    background-color: var(--green);
    margin: 0;
    height: 4em;
    flex-direction: row;
    justify-content: space-between;
}

.headerContainer > img {
    margin: auto 1em auto 1em;
    height: 80%;
}

.navContainer {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
}

#hamburger {
    height: 50%;
}

.navbar {
    padding: 2em 0 0 0;
    flex-direction: column;
    background-color: var(--green);

    height: 100%;
}

.navbar.hidden {
    display: none;
}


.logoutButton,.loginButton {
    align-self: flex-end;
    margin: auto auto 0.5em auto;
}

.loginButton {
    width: 100%;
}

.logoutButton {
    width: 90%;
}

.navbar .hidden {
    /*display: none;*/
}

.navbarItem {
    display: flex;
    padding-left: 0.5em;
    min-height: 2em;
    line-height: 2em;
    font-size: 2em;
    text-decoration: none;
    color: var(--yellow);
}

.navIcon {
  height: 1em;
  width: auto;
  margin: auto 1em auto 0;
}

.navbarItem:hover {
  background-color: var(--coral);
  color: var(--jet);
}

.formContainer {
    max-width: 50em;
    flex-direction: column;
    width: 90%;
    margin: auto;
    overflow-y: scroll;
}

.detailsContainer {
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

.pageContainer {
    margin: 1em;
    margin-bottom: 5em;
    padding-bottom: 1em;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1920px;
    height: auto;
}

.pageTitle {
    width: auto;
}

.titleContainer {
    width: auto;
    height: auto;
    min-height: 10em;
    margin: 1em;
    justify-content: space-between;
    flex-direction: column;
}

.titleContainer > div {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0;
}

.search {
    font-size: 1.25em;
    width: 100%;
    max-width: 30em;
}

.titleContainer > div > a {
    margin-left: auto;
}

.flexList {
    margin: 1em;
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    overflow-y: scroll;
}

.cardImageContainer {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    background-color: var(--platinum);
    height: 9em;
    margin-bottom: 2em;
}

.cardImage {
    max-width: 12em;
    max-height: 9em;
    width: auto;
    height: auto;
    margin: auto;
}

.cardTitle {
    font-weight: bold;
}

.card {
    margin: 0 auto;
    border: 1px solid var(--jet);
    border-radius: 10px;
    max-width: 24em;
    width: 100%;
    height: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    color: var(--jet);
    justify-content: space-between;
}

.formButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formButton {
    min-width: 5em;
    min-height: 2em;
}

.formInput {
}

.hideCard {
    display: none;
}

.deleteForm {
    width: 100%;
    margin-top: 5em;
}

.deleteButton {
    width: 100%;
    background-color: red;
    height: 2em;
}

@media(min-width: 600px) {
    .cardImage {
        max-width: 16em;
        max-height: 12em;
    }

    .cardImageContainer {
        height: 12em;
    }
}
@media(min-width: 850px) {
    .cardImage {
        max-width: 18em;
        max-height: 13.5em;
    }

    .cardImageContainer {
        height: 13.5em;
    }

    .adminContainer {
        flex-direction: row;
    }

    .navContainer {
        height: 100%;
        max-width: 25em;
        background-color: var(--green);
    }

    .navbar.hidden {
        display: flex;
    }

    #hamburger {
        display: none;
    }

    .flexList {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        margin: 0;
    }

    .formContainer {
        margin-left: 2em;
        margin-right: auto;
    }
}