.inventoryTable {
    border: 1px solid var(--platinum);
    width: 100%;
    height: fit-content;
}

.inventoryTable td, .inventoryTable tr {
    height: 2em;
    line-height: 2em;
}

.inventoryTable tr:nth-child(2n) {
    background: var(--platinum);
}

.productName {
    width: 100%;
    text-align: left;
}

.inventoryStatus {
    width: 100%;
    text-align: left;
}

