.tableContainer {
    padding-right: 2em;
}

.invoiceTable {
    border: 1px solid var(--platinum);
    width: 100%;
    height: fit-content;
}

.invoiceTable td, .invoiceTable tr {
    height: 2em;
    line-height: 2em;
}

.invoiceTable tr:nth-child(2n) {
    background: var(--platinum);
}

.invoiceId {
    width: 2.5em;
    text-align: left;
}

.invoiceStatus {
    width: 3.5em;
    text-align: left;
}

.invoiceProduct {
    width: 3.5em;
    text-align: left;
}

.invoiceDate {
    width: 6em;
    text-align: left;
}

.invoiceCustomer {
    width: 10em;
    text-align: left;
}

.invoicePaymentMethod {
    width: 6em;
    text-align: left;
}

.invoiceDetailsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-right: 2em;
    margin-bottom: 2em;
}

.invoiceImageContainer {
    width: 15em;
    height: 15em;
    background-color: var(--white);
    border: 1px dotted var(--platinum);
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.invoiceImage {
    max-width: 15em;
    max-height: 15em;
    width: auto;
    height: auto;
}

.invoiceDetails {
    max-width: 32em;
}

.invoiceDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.invoiceDetailTitle {
    font-size: 1.25em;
    font-weight: bold;
    margin-right: 2em;
}

.invoiceDetailValue {
    display: flex;
    text-align: right;
}

    .invoiceDetailValue > div, .invoiceDetailValue > a {
        margin: auto;
        text-align: right;
    }



@media(min-width: 600px) {
    .invoiceId {
        width: 2.5em;
        text-align: left;
    }

    .invoiceStatus {
        width: 6em;
        text-align: left;
    }

    .invoiceDate {
        width: 12em;
        text-align: left;
    }

    .invoiceCustomer {
        width: 100%;
        text-align: left;
    }

    .invoicePaymentMethod {
        width: 100%;
        text-align: left;
    }

    .invoiceDetailsContainer {
        flex-direction: row;
    }

    .invoiceDetails {
        margin: auto;
    }

    .invoiceImageContainer {
        margin: auto auto auto 4em;
    }
}
@media(min-width: 850px) {
    .invoiceContainer {
        flex-direction: column;
    }
}

