.appContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  height: 100%;
}

.header {
  height: 4em;
  width: 100%;
  background-color: var(--green);
  display: flex;
}

.header > img {
  max-height: 3.5em;
  height: auto;
  width: auto;
  margin: auto;
}

@media (min-width: 1000px) {
  .app {
    flex-direction: row;
    justify-content: flex-start;
  }
}
